@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); 

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,figure {margin:0;padding:0}
body,th,td,input,select,textarea,button {color:#5d5d5d}
body *{line-height:1.5; font-family: "Lucida Grande", Helvetica, Arial, sans-serif; }
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
table {border-collapse: collapse;border-spacing: 0;}
body,html{height:100%;}
button{background:none; border:none; outline:none; cursor:pointer;}
input,select,button{box-sizing:border-box;}
a{color:#5d5d5d; text-decoration: none;}

.clearfix:after{content:"";clear:both;display:block;}
.hidden_label{display:block; width:0 !important; height:0 !important; visibility:hidden; margin:0 !important; padding:0 !important;}
.screen_out {overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}


@media screen and (min-width:401px) {

    html{font-size: 14px;}

}

@media screen and (max-width:400px) {

    html{font-size: 10px;}

}



/******************************/
/****** device_container ******/
/******************************/

.device_container{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: #f9fafb; zoom: 1.5;}
.device_content{margin: auto; width: 100%; background-color: #f9fafb; text-align: center;  padding: 10px;}
.device_content .title{display: inline-block; padding: 0 10px; border-bottom: 2px solid #fe3f01;}
.device_content .title .icon{width: 15px; height: 15px; display: inline-block; }
.device_content .title .icon img{display: block; width: 100%; height: 100%; object-fit: contain;}
.device_content .title .txt{display: inline-block; font-size: 1.2rem; font-weight: bold;}
.device_content .title span{vertical-align: middle;}
.device_content .main_text{color: #fe3f01;}
.device_content .main_text strong{font-size: 1.4rem; font-weight: bold; margin: 5px 0; display: block;}
.device_content .main_text p{font-weight: bold;}
.device_content .footer_text_box{margin-top: 10px;}
.device_content .footer_text_box ul{display: flex; align-items: center; justify-content: center;}
.device_content .footer_text_box li{text-align: left; width: 30%;}
.device_content .footer_text_box li:nth-child(2){text-align: center;}
.device_content .footer_text_box li:nth-child(3){width: 35%;}
.device_content .footer_text_box li:nth-child(3) .top,
.device_content .footer_text_box li:nth-child(3) .btm{padding-left: 20px;}
.device_content .footer_text_box li .top{color: #fe3f01; font-size: 1rem; font-weight: bold; background-color: #eaeaea; padding: 3px 10px}
.device_content .footer_text_box li .btm{color: #454545; font-weight: bold; font-size: 1rem; padding: 3px 10px; }



/*****************/
/****** app ******/
/*****************/

.app{width: 100%; height: 100%; display: flex; background-color: #f9fafb; min-width: 1496px;}
.app .side_content{width: 248px; height: 100%; background-color: #0d131b;}
.app .side_content .side_top{width: 100%; height: 66px; background-color: #2a7efb;}
.app .side_content .side_main .area_box{padding: 42px 34px; position: relative;}
.app .side_content .side_main .area_box:before{content:''; display:block; width: 166px; height: 1px; background-color:#4c4f54; position: absolute; left: 20px; bottom:0;}
.app .side_content .side_main .area_box span{display: inline-block; vertical-align: middle;}
.app .side_content .side_main .area_box .boll{width: 20px; height: 20px; background-color: #d0d0d0; border-radius: 50%; margin-right: 20px;}
.app .side_content .side_main .area_box .txt{font-size: 20px; color: #FFF; line-height: 1;}
.app .side_content .side_main .side_nav_box{padding: 20px 0 42px; position: relative;}
.app .side_content .side_main .side_nav_box:before{content:''; position: absolute; display:block; width: 166px; height: 1px; background-color:#4c4f54; position: absolute; left: 20px; bottom:0;}
.app .side_content .side_main .side_nav_box li{}
.app .side_content .side_main .side_nav_box li a{display: flex; align-items: center; width: 100%; height: 53px; color: #FFF;padding:0 34px; box-sizing: border-box; font-size: 16px;}
.app .side_content .side_main .side_nav_box li a .txt{margin-left: 20px;}
.app .side_content .side_main .side_nav_box li a.active{ background-color: #2a7efb;}
.app .main_content{padding: 24px 61px 72px 91px; width: calc(100% - 248px); box-sizing: border-box;}
.app .main_content .content_box{max-width: 1436px;}
.app .main_content .content_box .item{background-color: #FFF; padding: 20px; box-sizing: border-box; border-radius: 5px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); position: relative;}
.app .main_content .content_box .content_top{display: flex; align-items: flex-start; justify-content: space-between;}
.app .main_content .content_box .content_top .item_left{width: 1027px;}
.app .main_content .content_box .content_top .item_right{width: 372px; padding: 50px 20px;}
.app .main_content .content_box .content_top .item_right .img_box{position: absolute; width: 75px; height: 75px; top: -29px; right: 25px;}
.app .main_content .content_box .content_top .item_right .img_box img{display: block; width: 100%; height: auto;}
.app .main_content .notice_content .title_box .icon_box{width: 20px; height: 20px; position: relative;}
.app .main_content .notice_content .title_box .icon_box span{position: absolute; width: 100%; height: 2px; background-color: rgba(217,217,217,0.5);}

